<h1>Details for student: <%=@student.id %></h1>

<p>Student name: <%=  "#{@student.first_name} #{@student.second_name}" %></p>
<p>House: <%=  "#{@student.house.name}" %></p>
<p>Age: <%=  "#{@student.age}" %></p>

<form action="/hogwarts/<%= @student.id%>/edit">
    <input type="submit" value="Edit Details" />
</form>

<form action="/hogwarts/<%= @student.id%>/delete" method="POST">
    <input type="submit" value="Unenroll Student" />
</form>

<p><a href="/hogwarts/all">Click here to go back to the student list</a></p>
<hr>
